:root {
  --gray: #a1a1a1;
  --igray: #a29f9f6d;
  --white: #fffefe;
  --black: #0f0f0f;
}
/* Colors */

@import url("https://fonts.googleapis.com/css?family=Poppins");

@font-face {
  font-family: "AmsterdamFour400";
  src: url("./fonts/AmsterdamFour_400.ttf");
}
@font-face {
  font-family: "Doknatle";
  src: url("./fonts/Doknatle\ 400.otf");
}
@font-face {
  font-family: "Quikens";
  src: url("./fonts/Quikens\ Regular\ 400.otf");
}

/* Fonts */

#dark-mode {
  background: var(--black);
  color: var(--gray);
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-top: 0;
}
.tam {
  margin-top: 64px;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--white);
  color: var(--black);
}

/* Loading */
#loading {
  display: flex;
  background: var(--white);
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  position: absolute;
  z-index: 400;
}

#loading h2 {
  width: 100vw;
  top: 37vh;
  text-align: center;
  color: var(--gray);
  font-size: 8em;
  position: absolute;
}

#loading h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px var(--black);
}

#loading h2:nth-child(2) {
  color: var(--black);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* End of Loading */

/* Header */

header {
  display: flex;
  text-align: center;
  height: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header .h-center {
  flex-grow: 4;
  font-family: "AmsterdamFour400";
  font-weight: 400;
  font-size: clamp(1rem, 3vw, 2rem);
}
.h-center span {
  display: inline-block;
  vertical-align: middle;
  line-height: 7.8rem;
}

header .h-left {
  flex-grow: 1;
  text-align: left;
  object-fit: cover;
  overflow: hidden;
  min-width: 200px;
}

header .h-right {
  flex-grow: 1;
  text-align: right;
  object-fit: none;
  overflow: hidden;
  min-width: 200px;
}

hr {
  opacity: 60%;
  height: 1px;
}

@media only screen and (max-width: 509px) {
  header .h-left {
    display: none;
  }
  header .h-right {
    display: none;
  }
}

/* End Of Header */

/* Navbar */

nav {
  font-family: "Doknatle";
  background: var(--white);
}

nav div {
  overflow: hidden;
  display: flex;
}

nav .logo {
  cursor: pointer;
  font-family: "AmsterdamFour400";
  font-weight: 200;
  font-size: 0.8rem;
  padding: 10px 20px;
}

.search {
  flex: 2;
  padding: 13px 2px;
  padding-top: 12px;
  display: flex;
}

.search input {
  border: var(--gray) solid 1px;
  flex: 2;
  border-radius: 20px;
  padding: 0px 10px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button styles */
.dropdown-button {
  border: none;
  background: var(--white);
  margin: 11px 10px;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 90px;
  border: var(--igray) solid 1px;
}

.dropdown-button:hover {
  background: var(--igray);
  box-shadow: 0px 0px 16px 2px rgba(216, 214, 214, 0.515);
  border: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  right: 0;
  margin-top: 6px;
  border-radius: 15px;
  z-index: 10;
  display: none;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Style for each dropdown item */
.dropdown-content a {
  background: var(--white);
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--black);
  width: 90px;
  height: 100%;
}

.dropdown-content a:hover {
  background: var(--igray);
}

/* Dropdown content - show on button hover and focus */

.dropdown:focus-within .dropdown-content {
  display: block;
  background: var(--igray);
}

/* End of Navbar */

/* Main Content */
.main {
  padding: 10px;
  align-items:start;
  width: calc(100vw - 20vw);
  background: #9e9d9d;
  display: grid;
  margin: 0;
  grid-auto-flow: column;
  grid-template-columns: auto;
  grid-template-rows: auto;
  place-content: center;
  margin-left: auto;
  margin-right: auto;

}
figure {
  margin: 10px;
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
figure > * {
  grid-area: 1/1;
  transition: 0.4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: 0.75rem;
  background: var(--c, #0009);
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption {
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    color: #fff;
  }
}

/* End Of Main */
