:root {
  --gray: #a1a1a1;
  --igray: #a29f9f6d;
  --white: #fffefe;
  --black: #0f0f0f;
}
/* Colors */

@import url("https://fonts.googleapis.com/css?family=Poppins");

@font-face {
  font-family: "AmsterdamFour400";
  src: url("./fonts/AmsterdamFour_400.ttf");
}
@font-face {
  font-family: "Doknatle";
  src: url("./fonts/Doknatle\ 400.otf");
}
@font-face {
  font-family: "Quikens";
  src: url("./fonts/Quikens\ Regular\ 400.otf");
}

/* Fonts */

#dark-mode {
  background: var(--black);
  color: var(--gray);
}
.sticky {
  position: fixed;
  top: 0;
  margin: 0 2.5vw;
  z-index: 100;
}
.tam {
  margin-top: 64px;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--white);
  color: var(--black);
}

/* Loading */
#loading {
  display: flex;
  background: var(--white);
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  position: absolute;
  z-index: 400;
}

#loading h2 {
  width: 100vw;
  top: 37vh;
  text-align: center;
  color: var(--gray);
  font-size: calc(20vw - 2em);
  position: absolute;
}

#loading h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px var(--black);
}

#loading h2:nth-child(2) {
  color: var(--black);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* End of Loading */

/* Header */

header {
  display: flex;
  text-align: center;
  height: 125px;
}

header .h-center {
  flex-grow: 4;
  font-family: "AmsterdamFour400";
  font-weight: 400;
  font-size: clamp(1rem, 3vw, 2rem);
}
.h-center span {
  display: inline-block;
  vertical-align: middle;
  line-height: 7.8rem;
}

header .h-left {
  flex-grow: 1;
  text-align: left;
  object-fit: cover;
  overflow: hidden;
  min-width: 200px;
}

header .h-right {
  flex-grow: 1;
  text-align: right;
  object-fit: none;
  overflow: hidden;
  min-width: 200px;
}

hr {
  opacity: 60%;
  height: 1px;
}

@media only screen and (max-width: 509px) {
  header .h-left {
    display: none;
  }
  header .h-right {
    display: none;
  }
}

/* End Of Header */

/* Navbar */

nav {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 0px #9e9d9d;
  font-family: "Doknatle";
  background: var(--white);
}
nav div {
  overflow: hidden;
  display: flex;
}
.logo a {
  cursor: pointer;
  font-family: "AmsterdamFour400";
  font-weight: 200;
  font-size: 0.8rem;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--black);
}

/* Search */
.searches {
  flex: 2;
  justify-content: flex-end;
}
.search {
  width: fit-content;
  margin: 15px 0;
  margin-top: 13px;
  border-radius: 10px;
  display: flex;

  border: solid 1px #777777a4;
}
.search button {
  border: none;
  background: var(--white);
}
.search input {
  display: ;
  border: none;
  flex: 2;
  padding: 0px 10px;
  animation: growLeft 300ms ease-in-out forwards;
  transform-origin: top center;
}

/* Menu */

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-button {
  border: none;
  background: var(--white);
  margin: 11px 10px;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 90px;
  border: var(--igray) solid 1px;
}
.dropdown-button:hover {
  background: var(--igray);
  box-shadow: 0px 0px 16px 2px rgba(216, 214, 214, 0.515);
  border: none;
}
.dropdown-contents {
  right: 2.5vw;
  margin-top: 6px;
  border-radius: 15px;
  z-index: 10;
  display: none;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(80, 79, 79, 0.349);
  text-align: center;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
.dropdown-content {
  background: var(--white);
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--black);
  width: 90px;
  height: 100%;
}
.dropdown-content:hover {
  background: var(--igray);
}
.dropdown:hover .dropdown-contents,
.dropdown:focus-within .dropdown-contents {
  display: block;
  background: var(--igray);
}

.cat-list {
  display: block;
  font-size: 0.8rem;
  padding: 10px;
  text-decoration: none;
  color: var(--black);
  width: 90px;
  height: 100%;
}
.cat-list:hover {
  background: var(--igray);
  box-shadow: 0px 0px 16px 2px rgba(216, 214, 214, 0.515);
  border: none;
}

.category:hover  .cat-list{
  display: block;
  background: var(--igray);
}

/* Navbar Animation */

@keyframes growLeft {
  0% {
    width: 0;
  }
  80% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

/* End of Navbar */

/* Main Content */
.main {
  padding: 10px;
  align-items: center;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin-left: auto;
  margin-right: auto;
}
figure {
  width: 250px;
  margin: 10px;
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 16px 0 #a7a7a7;
}
figure img {
  margin-left: auto;
  margin-right: 20px;
  width: 100%;
}
figure > * {
  grid-area: 1/1;
  transition: 0.4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  overflow-wrap: break-word;
  color: #0000;
  padding: 0.75rem;
  background: var(--c, #0009);
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure h4 {
  color: var(--white);
  font-size: 1.4rem;
}
figure p {
  color: var(--white);
  font-size: 1rem;
  font-weight: 300;
}
figure a {
  padding: 10px;
  text-decoration: none;
  color: var(--gray);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  border: solid 1px var(--gray);
  width: fit-content;
}
figure a:hover {
  color: var(--white);

  background: var(--gray);
}
figure:hover figcaption {
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    color: #fff;
  }
}

/* End Of Main */
