:root {
  --gray: #ffffff;
  --denim: #526d82;
  --dblue: #5f5f5f;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@font-face {
  font-family: "AmsterdamFour400";
  src: url("./fonts/AmsterdamFour_400.ttf");
}
@font-face {
  font-family: "Doknatle";
  src: url("./fonts/Doknatle\ 400.otf");
}



#dark-mode {
  background: var(--dblue);
  color: var(--gray);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--gray);
  color: var(--dblue);
  box-sizing: border-box;
  
}

/* Loading */
.content {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
	position: relative;
}

.content h4{
 
}

.content h2 {
  right: 0;
  bottom: 50%;
	color: #fff;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #4b4b4b;
}

.content h2:nth-child(2) {
	color: #707070;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

/* End of Loading */

/* Header */

header {
  display: flex;
  text-align: center;
  height: 125px;
}

header #center {
  flex-grow: 4;
  font-family: "AmsterdamFour400";
  font-weight: 400;
  font-size: clamp(1rem, 3vw, 2rem);
}
#center span {
  display: inline-block;
  vertical-align: middle;
  line-height: 7.8rem;
}

header #left {
  flex-grow: 1;
  text-align: left;
  object-fit: cover;
  overflow: hidden;
  min-width: 200px;
}

header #right {
  flex-grow: 1;
  text-align: right;
  object-fit: none;
  overflow: hidden;
  min-width: 200px;
}

hr {
  opacity: 60%;
  height: 1px;
}

@media only screen and (max-width: 509px) {
    header #left{
        display: none;
    }
    header #right{
        display: none;
    }
}

/* End Of Header */

/* Navbar */
nav{
  padding: 5px;
    display: flex;
}

nav #logo{
    font-family: "AmsterdamFour400";
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0.2rem;
}

nav #search-bar{
  flex-grow: 1;
}


nav ul{
  
    display: flex;
    flex-direction: row;
    
}

.search-box{
  overflow-y: hidden;
  float: right;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  font-family: "Doknatle";
  width: 0px;
  border-style: none;
  padding: 10px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 50px;
  transition: all .5s ease-in-out;
  padding-right: 40px;
  color:#111111;
}
.input-search::placeholder{
  color:rgba(48, 43, 43, 0.5);
  font-size: 15px;
  font-weight: 100;
}
.btn-search{
  opacity: 70%;
  width: 50px;
  height: 40px;
  border-style: none;
  font-size: 1rem;
  font-weight:lighter;
  outline: none;
  cursor: pointer;
  border-radius: 40px;
  position: absolute;
  right: 0px;
  color:#333232 ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(43, 41, 41, 0.246);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(7, 6, 6, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* Dropdown Menu */

label{
  margin-top: 5px;
  display:flex;
   flex-direction:column;
   width:30px;
   cursor:pointer;
 }
 
 label span{
   background: #706f6f ;
   border-radius:10px;
   height:3px;
   margin: 3px 0;
   transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
 
 }
 
 
 span:nth-of-type(1){
   width:50%;
   
 }
 
 span:nth-of-type(2){
   width:100%;
 }
 
 
 span:nth-of-type(3){
   width:75%;
  
 }
 
 
 input[type="checkbox"]{
   display:none;
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(1){
   transform-origin:bottom;
   transform:rotatez(45deg) translate(5px,-1px)
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(2){
   
   transform-origin:top;
   transform:rotatez(-45deg)
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(3){
   
   transform-origin:bottom;
   width:50%;
   transform: translate(14px,-5px) rotatez(45deg);
 
 }

 #menu ul{
  display: flex;
  flex-direction: column;
  position:fixed;
  right:0;
  top: 11.5rem;
  float: right;
  visibility: hidden
 }

 #menu ul li{
  
  color: ;
 }

 #check:checked + #menu ul{
  display: inline;
  visibility:visible;
 }

 #menu ul li:hover{
  background-color: #333232;
 }
 
/* End of Dropdown Menu */